---
import { useTranslations } from '../../i18n/utils';

interface Props {
  lang: 'pl' | 'en' | 'de';
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div
  class="flex justify-center items-center w-full aspect-[1920/300] bg-white bg-[length:100%_auto] bg-center bg-no-repeat mt-2.5 mb-5"
  style="background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url('/images/background-image-800.webp');"
>
  <section class="text-center text-white">
    <h2
      class="text-center text-[2rem] font-semibold text-white mt-[30px] mb-[50px] max-[768px]:text-[1.1rem] max-[768px]:m-[10px] max-[768px]:leading-[1.4]"
      set:html={t('banner.year_round_cottages')}
    ></h2>
  </section>
</div>
