---
import PageLayout from '../layouts/PageLayout.astro';
const lang = 'pl';
---

<PageLayout
  title="Lokalizacja i dojazd do domków, Las Biala's"
  description="Lokalizacja i dojazd do domków Las Biala's w Białej, Puszcza Notecka. Mapka drogi dojazdu na miejscu."
  lang={lang}
>
  <div class="container mx-auto max-w-5xl px-4 py-8">
    <h1 class="mb-6 text-3xl font-semibold text-center">Dojazd do Las Biala's</h1>
    <img
      src="/foto/droga-dojazdu-do-LB.webp"
      alt="droga dojazdu do domków Las Biala's"
      width="1920"
      height="1125"
      class="w-full h-auto rounded-[5px]"
    />
  </div>
</PageLayout>
